<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

        <h1>Bienvenue dans notre Application de Sécurité</h1><br>

        <a id="downloadBtn" href="#" class="button">Télécharger Bitwarden</a>

        <script src="buttonScript.js"></script>

        <%- include('./partials/scripts') %>
    </body>

</html>