<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

        
            <h1>Bienvenue dans notre Application de Sécurité</h1><br>

            <a id="formBtn" href="formPage.ejs" class="btn btn-primary">CREER UN COMPTE</a>
            
            <a id="identificationBtn" href="identification.ejs" class="btn btn-primary">SE CONNECTER</a>
            
            

            <%- include('./partials/scripts') %>
    </body>

</html>