<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <h1>Bienvenue sur ta page mon copain!</h1><br>

            <a id="downloadBtn" href="#" class="btn btn-primary">Télécharger Bitwarden</a>

            <script src="../js/buttonDownloadSoftware.js"></script>



            <%- include('./partials/scripts') %>
    </body>

</html>