<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <span class="logo__text">PROTECT YOURSELF</span>
        </div>
        <div class="navbar-menu">
            <ul class="nav">
                <li class="nav__item">
                    <a href="#" class="nav__link">Accueil</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Fonctionnalités</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Témoignages</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contact</a>
                </li>
                <!-- <li class="nav__item nav__item--avatar">
                    <a href="#" class="nav__link nav__link--avatar">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="nav__avatar"
                            alt="Avatar">
                    </a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>