<header class="header">
    <nav class="navbar container">
        <div class="navbar-brand">
            <img src="../../images/logo_py.png" alt="Logo Protect Yourself" class="logo__image"/>
            <span class="logo__text">PROTECT YOURSELF</span>
        </div>
        <div class="burger-menu">
            <div class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <ul class="nav">
                <li class="nav__item"><a href="#intro" class="nav__link">Accueil</a></li>
                <li class="nav__item"><a href="#features" class="nav__link">Fonctionnalités</a></li>
                <li class="nav__item"><a href="#testimonials" class="nav__link">Témoignages</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>