<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <span class="logo__text">PROTECT YOURSELF</span>
        </div>
        <div class="burger-menu">
            <div class="burger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <ul class="nav-list">
                <li><a href="./userHomePage.ejs" class="nav-item">Accueil</a></li>
                <li><a href="#" onclick="ipcRenderer.send('load-tools-page')">Outils</a></li>
                <!-- <li><a href="#" class="nav-item">My Tools</a></li> -->
                <li><a href="./index.ejs" class="nav-item">Déconnexion</a></li>
            </ul>
        </div>
    </nav>
</header>