<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/headerUser') %>
      
        <div class="container">
            <div class="row mt-4">

                <h1>LES OUTILS</h1>
                <div class="row mt-4">
                    <h2>Liste des outils d'hygiène de sécurité :</h2>
                </div>
                <div class="row mt-4">
                    <ul>
                        <li>
                            <h3><u>BitWarden</u></h3>
                            <br>
                            <p>Cet outil vous permettra de gérer vos mots de passe et fichiers à protéger. </p>
                            <!-- Bouton pour télécharger Bitwarden -->
                            <button id="downloadBtn" class="btn btn-primary download-btn">Télécharger Bitwarden</button>
                        </li>
                        <br>
                        <li>
                            <h3><u>Privazer</u></h3>
                            <br>
                            <p>Cet outil vous permettra de nettoyer votre corbeille sans laisser de traces. </p>
                            <!-- Bouton pour télécharger Privazer -->
                            <button id="downloadBtn2" class="btn btn-primary download-btn">Télécharger Privazer</button>
                        </li>
                        <br>
                        <li>
                            <h3><u>ProtonVpn</u></h3>
                            <br>
                            <p>Cet outil est un VPN qui vous permettra de naviguer sur internet de manière plus sûre! </p>
                            <!-- Bouton pour télécharger Privazer -->
                            <button id="downloadBtn3" class="btn btn-primary download-btn">Télécharger ProtonVpn</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

           



            <script src="../scripts/downloadProtonVpn.js"></script>
            <script src="../scripts/rendererUtils.js"></script>
            <script src="../scripts/downloadScript.js"></script>
            <script src="../scripts/downloadPrivazer.js"></script>
            <script src="../scripts/headerUserScript.js"></script>

            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>