<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>


    <a href="./index.ejs" class="btn btn-outline-secondary" data-mdb-ripple-init data-mdb-ripple-color="dark">
        &larr; Retour
    </a>

    <p>PAGE EN CONSTRUCTION</p>

    <script src="./scripts/rendererUtils.js"></script>

    <%- include('./partials/scripts') %>
</body>

</html>