<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

    <body>

        <%- include('./partials/headerUser') %>

            <h1>Bienvenue, <span id="user-name"></span></h1>
            <br>
            <div class="container row mt-4">
                <h2>Vos outils de sécurité téléchargés : </h2>
    
                <div id="security-tools-grid" class="security-tools-grid">
                    <!-- Les outils seront ajoutés ici dynamiquement -->
                </div>
            </div>

            <script src="../scripts/rendererUtils.js"></script>
            <script src="../scripts/userDynamicPage.js"></script>
            <script src="../scripts/downloadScript.js"></script>
            <script src="../scripts/headerUserScript.js"></script>

            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>